// Purple colors
// Upper: #C49AFB
// Middle: #A082F6
// Bottom: #7B6CF1

.navbar {
    background-color: #111111;
    opacity: 0.95;
    height: 56px;

    .navLink {
        p {
            color: #fff;

            &:hover {
                background-color: #111;
                color: #7b6cf1;
            }
        }
    }

    .navbarMenu {
        background-color: #111;
    }
}

.Logo {
    max-width: 30px;
    height: auto;
}
