.ContactPage {
    width: 100%;
    height: calc(100% - 50px);

    padding: 4rem 0rem;
    font-size: 1rem;

    color: #ddd;
    .ContactPageContainer {
        width: 100%;

        h1 {
            font-size: 4rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}
