@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    width: 100%;
    height: 100%;

    background-color: #FFF;

    font-family: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

#__next {
    width: 100%;
    height: 100%;

    font-family: 'Inter', sans-serif;
}