@import "../../src/styles/mixins.scss";

.notification {
  background-color: #222;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;

  .wrapper {
    width: 60%;
    height: 100%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    padding: 0rem 2rem;

    color: #fff;

    @include tablet {
      width: 80%;
    }

    @include mobile {
      width: 95%;
    }

    h2 {
      font-size: 1.1rem;
      font-weight: 700;
    }
  }
}
